<nav
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #36ff58;
    height: 10vh;
    padding: 0 6%;
    border-bottom: 1px solid #36ff58;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
  "
>
  <div class="logo">
    <h3 style="font-weight: 400">Dzilmi Farma</h3>
  </div>
  <div class="menu" style="margin-right: 10%; display: flex; align-items: center;">
    <ul style="list-style-type: none; display: flex; gap: 20px; padding: 0; margin: 0; align-items: center;">
      <li><a href="" style="text-decoration: none;">Home</a></li>
      <li><a href="" style="text-decoration: none;">Riwayat</a></li>
    </ul>
  </div>
</nav>
